<footer class="footer mt-auto py-3">
  {{!-- <div class="container">
    <div class="footer-content">
      <span>made with ❤️ and</span>
      <img src="/img/logo/nodejs.png" alt="Node.JS logo">
    </div>
  </div> --}}
</footer>