<div class="social-icons">
  <a href={{this.linkedin}}>
    <div class="social-box linkedin">
      <i class="fab fa-linkedin"></i>
    </div>
  </a>
  <a href={{this.gitHub}}>
    <div class="social-box github">
      <i class="fab fa-github"></i>
    </div>
  </a>
  <a href={{this.email}}>
    <div class="social-box mail">
      <i class="far fa-envelope"></i>
    </div>
  </a>
</div>