<div class="container homepage">
  
    <div class="students-box-color"></div>
    <div class="students-box-color2"></div>
    <div class="students-box-color3"></div>
    <div class="students-circle-color"></div>
  <h1>Demo Day</h1>

  <div class="dday-time">
    <div>
      <h2 class="aside">09h__</h2>
      <h2>nom du projet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repellat earum assumenda perspiciatis enim, autem, ut rerum accusantium quia natus nobis iure fuga ullam illo, quibusdam nam molestiae obcaecati aut.</p>
    </div>
    <div>
      <h2 class="aside">12h__</h2>
      <h2>nom du projet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repellat earum assumenda perspiciatis enim, autem, ut rerum accusantium quia natus nobis iure fuga ullam illo, quibusdam nam molestiae obcaecati aut.</p>
    </div>
    <div>
      <h2 class="aside">14h__</h2>
      <h2>nom du projet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repellat earum assumenda perspiciatis enim, autem, ut rerum accusantium quia natus nobis iure fuga ullam illo, quibusdam nam molestiae obcaecati aut.</p>
    </div>
    <div>
      <h2 class="aside">14h__</h2>
      <h2>nom du projet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repellat earum assumenda perspiciatis enim, autem, ut rerum accusantium quia natus nobis iure fuga ullam illo, quibusdam nam molestiae obcaecati aut.</p>
    </div>
    
  </div>
</div>

