<div class="container">
  <div class="student">

    <div class="student-box-color"></div>
    <div class="student-box-color2"></div>
    <div class="student-box-color3"></div>
    <div class="student-circle-color"></div>

    <div class="student-header row">
      <div class="student-thumbnail col-12 col-md-6 col-lg-4">
        <img class="img-fluid" src="/img/profile/default.jpg" alt="" srcset="">
      </div>
      <div class="student-title col-12 col-md-6 col-lg-8">
        <h1>{{student.key}}</h1>
        <h2>{{student.title}}</h2>
        <h4>technos</h4>
        {{> social-icons}}
      </div>
    </div>
    <div class="student-content">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium repudiandae, cum vitae sed explicabo, magni vero, provident nihil tempore architecto iure rerum distinctio id nisi ducimus velit. Officiis, dolorem labore?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit possimus accusamus pariatur nulla atque ea mollitia modi reiciendis dolore delectus magnam totam expedita, doloribus facilis! Reiciendis quod nobis iure voluptatibus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium repudiandae, cum vitae sed explicabo, magni vero, provident nihil tempore architecto iure rerum distinctio id nisi ducimus velit. Officiis, dolorem labore?</p>
    </div>
  </div>
</div>
